:root {
    --color-alert: salmon;
    --shadow-color: 342deg 67% 27%;
    --shadow-elevation-low:
        0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.53),
        0.4px 0.8px 0.9px -1.6px hsl(var(--shadow-color) / 0.45),
        1.1px 2.2px 2.5px -3.2px hsl(var(--shadow-color) / 0.38);
    --shadow-elevation-medium:
        0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.56),
        0.8px 1.5px 1.7px -1.1px hsl(var(--shadow-color) / 0.5),
        2.1px 4.2px 4.8px -2.1px hsl(var(--shadow-color) / 0.44),
        5.5px 11px 12.5px -3.2px hsl(var(--shadow-color) / 0.37);
    --shadow-elevation-high:
        0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.52),
        1.3px 2.6px 3px -0.5px hsl(var(--shadow-color) / 0.49),
        2.6px 5.2px 5.9px -0.9px hsl(var(--shadow-color) / 0.46),
        4.6px 9.1px 10.4px -1.4px hsl(var(--shadow-color) / 0.43),
        7.8px 15.5px 17.7px -1.8px hsl(var(--shadow-color) / 0.4),
        12.7px 25.5px 29.1px -2.3px hsl(var(--shadow-color) / 0.38),
        20px 39.9px 45.5px -2.7px hsl(var(--shadow-color) / 0.35),
        30px 60px 68.4px -3.2px hsl(var(--shadow-color) / 0.32);
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    
    color: rgb(36, 34, 34);
    font-family: Futura;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100%;
}

body::before {
    content: "";
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
    z-index: -1;
}

h1 {
    margin-bottom: 30px;
}

.experience-heading {
    margin-bottom: 20px;
}

.container {
    border-radius: 10px;
    background-color: white;
    padding: 70px;
    width: 520px;
    margin-bottom: 5rem;
    box-shadow: var(--shadow-elevation-medium);
}



.container > :first-child {
    margin-top: 0;
}

.container > :last-child {
    margin-bottom: 0;
}
.links > *{
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: hsl(337deg 100% 43%);
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type=submit] {
    background-color: rgb(36, 34, 34);
    color: white;
    margin-top: 2em;
}

textarea {
    height: 180px;
    max-height: 180px;
    max-width: 100%;
    resize: none;
   
}

.links {
    display: flex;
    justify-content: space-between;
}

.error-message {
    color: var(--color-alert);
    margin-bottom: 20px;
    display: block;
}

#empty-message {
    margin-bottom: 0px;
}

label {
    margin-top: 1em;
    display: block;
}

input[invalid] {
    border-color: var(--color-alert);
}

.creation-date {
    text-align: right;
}

article.container:first-child{
    margin-top: 50px;
}

article.container {
    padding: 50px;
}

#return-to-guestbook {
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 16px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow-elevation-medium);
    transition: 0.3s ease;
}

#return-to-guestbook:hover {
    box-shadow: var(--shadow-elevation-low);
}


#guestbook-header {
    color: white;
}


.entry-infos {
    display: flex;
    justify-content: space-between;
    color: rgb(196, 55, 81);
}

img {
    max-width: 100%;
}

.login-link {
    color: white;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(36, 34, 34);
}

header + * {
    margin-top: 100px;
}

  
li.navbar-item {
    float: left;
}
  
li.navbar-item a,
.name-item {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
  li.navbar-item a:hover {
    background-color: #111;
  }

  header {
      width: 100%;
      position: fixed;
      top: 0;
  }